


@media only screen and (min-width:961px) {

    .section-contacto,
    .container-perfil {
        display: flex;
        flex-direction: column;
        /* background-color: rgb(80, 80, 80); */
        background-color: $blanco;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-grow: 1;
        /* Permite que el main crezca para ocupar el espacio restante */
        padding: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        /* Ajusta la posición en la parte superior */
        z-index: 100;
    }

    .logo-header {
        background-color: $color-secundario;
        width: 100%;
        height: 80px;
        padding-top: 24px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .titulo-header {
        font: $logo-font;
        color: $negro;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sub-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .sub-header {
        padding: 8px;
        font: $sublogo-font;
        margin: 0px;
    }

    .linea-vertical {
        border-left: 1px solid $negro;
        /* Establece la línea vertical con color negro */
        height: 24px;
        /* Ajusta la altura de la línea según sea necesario */
        margin: auto 0px;
        /* Centra la línea horizontalmente */
    }

    .logo {
        cursor: pointer;
        /* cuando apoyo cursor visualizo que se puede seleccionar */
    }

    .navbar {
        background-color: $color-principal;
        width: 100%;
        /* ancho */
        height: 56px;
        /* alto */
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }

    .nav-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-content: center;
        /* la lista no posee viñeta */
        font: $font-default;
        margin: 8px;
    }

    .nav-links li a {
        padding: 8px 16px;
        color: $blanco;
        text-decoration: none;
    }

    .nav-links li:hover a {
        color: $color-principal;
        /* Cambia el color al hacer hover */
        text-decoration: none;
        /* No posee subrayado al posicionarse por encima */
    }

    .nav-links li:hover {
        background: $blanco;
        border-radius: 16px;
    }

    .logo-mobile,
    .navbar-toggler {
        display: none;
    }
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 960px) {
    .logo-header {
        display: none;
    }

    .titulo-header {
        font: $logo-font;
        color: $blanco;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sub-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .sub-header {
        padding: 8px;
        font-family: "Cinzel", serif;
        font-size: 8px;
        margin: 0px;
        color: $blanco;
    }

    .linea-vertical {
        border-left: 1px solid $blanco;
        /* Establece la línea vertical con color negro */
        height: 16px;
        /* Ajusta la altura de la línea según sea necesario */
        margin: auto 0px;
        /* Centra la línea horizontalmente */
    }

    .nav-links {
        display: none;
    }

    a {
        text-decoration: none;
        color: $blanco;
        padding: 8px;
    }

    a:hover {
        color: $color-terciario;
        /* Cambia el color al hacer hover */
        text-decoration: none;
        /* No posee subrayado al posicionarse por encima */

    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 24px 8px;
        background-color: $color-principal;
    }

    nav.open ul {
        display: flex;
    }
}

.navbar-toggler-icon {
    font-size: 24px;
    color: $blanco;
}

/* Fin Nav */