/*Inicio Formulario de contacto y datos */

.container {
    @include flex--row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .container-form {
        background-color: $color-fondos;
        @include sizes (344px, 100%);
        padding: 16px;
        margin: 0px;
        padding: 16px;
        border-radius: 16px;
        color: $color-principal;
        box-shadow: 0px 0px 8px gray;

        .btn-primary {
            background-color: $color-principal;
            color: $blanco;
            font: $botones;
            &:hover {
                background-color: darken($color-principal, 10%);
                border: 1px solid $color-principal;
            }
        }

    }

}

.datos-contacto{
    text-align: left;
}

/*Fin Formulario de contacto y datos*/