@media only screen and (min-width:961px) {

    .navbar-nav {
        display: none;
    }

    .section-contacto,
    .container-perfil {
        @include column--center;
        align-items: center;
        background-color: $blanco;
        flex-grow: 1;
        padding: 16px;
    }

    .header {
        @include flex--column;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;

        .logo-header {
            @include column--center;
            background-color: $color-secundario;
            @include sizes(100%, 80px);
            padding-top: 24px;
            padding-bottom: 16px;

            .logo {
                @include flex--row;
                justify-content: center;
                align-items: center;
            }

            .sub-logo {
                @include row--center;
            }

            .titulo-header {
                font: $logo-font;
                color: $negro;
                padding: 0px;
                margin: 0px;
            }

            .sub-header {
                padding: 8px;
                font: $sublogo-font;
                margin: 0px;
            }

            .linea-vertical {
                border-left: 1px solid $negro;
                height: 24px;
                margin: auto 0px;
            }
        }

        .navbar {
            @include column--center;
            background-color: $color-principal;
            @include sizes(100%, 56px);
            padding: 8px;

            .nav-links {
                @include row--center;
                list-style: none;
                font: $font-default;
                margin: 8px;

                li a {
                    padding: 8px 16px;
                    /* color: $blanco; */
                    color: $blanco;
                    text-decoration: none;

                    &:hover {
                        color: $color-principal;
                        text-decoration: none;
                    }
                }

                li:hover {
                    background: $blanco;
                    border-radius: 16px;
                }
            }

            .logo-mobile,
            .navbar-toggler {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .logo-header {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .logo {
        @include flex--row;
        justify-content: center;
        align-items: center;

        .titulo-header {
            font: $logo-font;
            font-size: 20px;
            color: $blanco;
            padding: 0px;
            margin: 0px;
        }
    }

    .sub-logo {
        @include row--center;

        .sub-header {
            padding: 8px;
            font-family: "Cinzel", serif;
            font-size: 10px;
            margin: 0px;
            color: $blanco;
        }

        .linea-vertical {
            border-left: 1px solid $blanco;
            height: 16px;
            margin: auto 0px;
        }
    }

    .navbar-nav {
        a {
            text-decoration: none;
            color: $blanco;
            padding: 8px;

            &:hover {
                color: $color-terciario;
                text-decoration: none;
            }
        }
    }

    .navbar {
        @include flex--row;
        justify-content: space-between;
        padding: 8px;
        background-color: $color-principal;

        nav.open ul {
            display: flex;
        }
    }

    .navbar-toggler-icon {
        font-size: 24px;
        color: $blanco;
    }
}